<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>


            <main>
                <% if (menus.length > 0) { %>
                    <div class="grid">
                        <% for (let menu of menus) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= menu.foodName %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= menu.price %>
                                    </h2>
                                </div>
                            </article>
                    </div>
            </main>
            <%- include('../includes/end.ejs') %>