<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>


            <main>
                <% if (menu.length > 0) { %>
                    <div class="grid">
                        <% for (let menus of menu) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                        <%= menus.foodName %>
                                            Rs<%= menus.price %>
                                    
                                </header>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No menus Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>